.menu {
  display: block;
  flex-direction: column;
  position: absolute;
  top: 192px;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: linear-gradient(190deg, #ADAEEB, #3c3dcf);
  border-top-right-radius: 48px;
  transition: right ease-in-out 200ms;
  overflow: hidden;
  z-index: 1;

  &-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;
    gap: 16px;
  }

  &-item {
    p, label {
      color: white;
      font-weight: 800;
    }
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
  }

  &-toggle {
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    border-radius: 16px;
    padding: 16px;
    justify-content: space-between;
  }

  &-cat-says-input {
    height: 34px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    
    border: 1px solid transparent;
    border-bottom: 2px solid white;

    &:focus {
      outline: none;
      border-radius: 8px;
      border: 2px solid rgba(255,255,255, 0.5);
    }
  }


  &-action-button {
    background-color: transparent;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    padding: 16px 24px;
    margin: 8px;
    cursor: pointer;
    transition: background-color ease-in-out 300ms;

    &:hover, &focus {
      background-color: var(--button-bg-color-hover);
    }
  }
  

  &-header {
    color: var(--text-secondary-color);
  }

  &.open {
    right: 0;
  }
}


// large screens 
@media screen and (max-width: 320px) {
  .menu {
    top: 144px;
  }
}