.menu {
  display: block;
  flex-direction: column;
  position: absolute;
  top: 192px;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(190deg, #ADAEEB, #3c3dcf);
  border-top-right-radius: 48px;
  transition: right ease-in-out 200ms;
  overflow: hidden;
  z-index: 1;

  &-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;
  }

  &-item {
    p {
      color: white;
      font-weight: 800;
    }
    display: flex;
    align-items: center;
    
  }

  &-toggle {
    border: 2px solid white;
    border-radius: 16px;
    padding: 16px;
    justify-content: space-between;
  }
  

  &-header {
    color: var(--text-secondary-color);
  }

  &.open {
    right: 100%;
  }
}


// large screens 
@media screen and (max-width: 320px) {
  .menu {
    top: 144px;
  }
}