.neko-polaroid {
  max-width: 20rem;
  border: 16px solid var(--neko-polaroid-bg-color);
  border-bottom: 48px solid var(--neko-polaroid-bg-color);
  border-radius: 8px;
  background-color: var(--neko-polaroid-bg-color);
  box-shadow: var(--neko-polaroid-box-shadow);
}

.neko { 
  display: flex;
  border-radius: 8px;
  max-width:100%;
  max-height: 15rem;
}

// very small screens
@media screen and (max-width: 320px) {
  .neko-polaroid {
    max-width: 15rem;
  }
}