$iris-100: #F1F1FC;
$iris-200: #DADBF6;
$iris-300: #C4C4F1;
$iris-400: #ADAEEB;
$iris-500: #9797E6;
$iris-600: #8081E0;
$iris-700: #696ADA;
$iris-800: #5354D5;
$iris-900: #3c3dcf;

$sunset-100: #ffc989;
$sunset-200: #ffb762;
$sunset-300: #ffa53b;
$sunset-400: #ff9314;
$sunset-500: #ff8a00;
$sunset-600: #eb7f00;
$sunset-700: #d87500;
$sunset-800: #c46a00;
$sunset-900: #b16000;