@use 'variables' as *;

.theme {
  // Primary App Colors
  --app-bg-color: #{$AppBGColor};

  // App Text Colors 
  --header-color: #{$HeaderColor};  


  // Buttons and Links
  --button-bg-color: #{$ButtonBGColor};
  --button-bg-color-hover: #{$ButtonBGColorHover};
}