@use 'variables' as *;

.theme {
  // Primary App Colors

  // App Text Colors 
  --app-bg-color: #{$AppBGColor};


  // Buttons and Links
  --button-bg-color: #{$ButtonBGColor};
  --button-bg-color-hover: #{$ButtonBGColorHover};
}