@use 'variables' as *;

.theme {
  // Primary App Colors
  --app-bg-color: #{$AppBGColor};

  // App Text Colors 
  --header-color: #{$HeaderColor};  
  --text-color: #{$TextColor};


  // Buttons and Links
  --button-bg-color: #{$ButtonBGColor};
  --button-bg-color-hover: #{$ButtonBGColorHover};


  // Neko Polaroid
  --neko-polaroid-bg-color: #{$NekoPolaroidBGColor};
  --neko-polaroid-box-shadow: #{$NekoPolaroidBoxShadow};
}