@use './colors' as *;

// Primary App Colors
$AppBGColor: linear-gradient($iris-100, $iris-200);


// Primary Text Colors
$HeaderColor: $iris-700;

// Buttons and Links
$ButtonBGColor: $iris-500;
$ButtonBGColorHover: $iris-600;


// Neko Polaroid
$NekoPolaroidBGColor: #FFF;
$NekoPolaroidBoxShadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;