@use './assets/' as *;

.App {
  background: var(--app-bg-color);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 128px;
}

.cat-button {
  background-color: var(--button-bg-color);
  border: none;
  padding: 16px 24px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  border-radius: 8px;
  transition: background-color ease-in-out 200ms;
  transition: scale ease-in-out 300ms;
  &:hover {
    background-color: var(--button-bg-color-hover);
    scale: 1.01;
  }
}

