@use './assets/' as *;

.App {
  background: var(--app-bg-color);
  text-align: center;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 128px;

  .app-header {
    position: absolute;
    font-family: 'Nikukyu';
    top: 24px;
    line-height: 80px;
    font-size: 64px;
    color: var(--header-color);
  }

  .app-action-description {
    font-size: 24px;
  }

  .app-menu-button {
    position: absolute;
    top: 24px;
    left: 24px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.cat-button {
  position: absolute;
  bottom: 24px;
  background-color: var(--button-bg-color);
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 8px;
  transition: background-color ease-in-out 200ms;
  transition: scale ease-in-out 300ms;
  transition: background-color ease-in-out 300ms;
  

  &:hover, &:focus, &:active {
    background-color: var(--button-bg-color-hover);
    scale: 1.01;
    box-shadow: rgba(255, 138, 0, 0.3) 0px 10px 30px;
    
  }

  &:active {
    transition: scale ease-in-out 100ms;
    scale: 0.9;
  }
}

.loader {
  color: var(--spinner-color);
  font-size: 95px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}


.loader-text {
  position: absolute;
}


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:var(--spinner-color);
  stroke-width: 5.5;
  stroke-linecap:round;
}
.ham5 .top {
  stroke-dasharray: 41 82;
}
.ham5 .bottom {
  stroke-dasharray: 41 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -70px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -70px;
}




@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 


// small screens 
@media screen and (max-width: 320px) {
  .App {
    .app-header {
      top: 8px;
      font-size: 48px;
    }
  }
}

